*{
    margin: 1vw;
    box-sizing: border-box;
}
#logo{
    color: rgb(54,54,54);
    font-family: Arial, Helvetica, sans-serif;
    display:inline-block;
    width:15vw;
}
nav{
    display:inline-block;
    width:60vw;
    text-align:center;
    padding-top:2vh;
}
a{
    display:inline-block;
    text-decoration:none;
    letter-spacing:0.2vw;
    margin:0 1vw;
}
strong{
    display:inline-block;
    width:12vw;
    background-color:rgb(175,208,222);
    color:darkblue;
    padding:1vh 1vw;
    border-radius:0.5vw;
    text-align:center;
    float: right;
}

.hero{
    display:flex;
    justify-content:space-around;
    align-items:center;
    min-height:80vh;
    padding:0 70px;
}

.content{
    width:45%;
}

.image{
    width:40%;
    display:flex;
    justify-content:center;
}

.image img{
    width:100%;
    max-width:450px;
}
button{
    background-color:rgb(152,201,220);
    color:blue;
    font-weight:bold;
    width:20vw;
    height:6vh;
    border-radius:2vw;
    border:none;
     }


@media(max-width:768px){
    .logo{
        font-size: smaller;
    }
    a{
        font-size: smaller;
    }
    strong{
        font-size: smallerx;
    }
}

@media(max-width:375px){
    nav{
        display: none;
    }
    .content h1{
        font-size: 35px;
    }
    .content span{
        font-size: medium;
    }
    .content p{
        font-size: small;
        width: 100%;
    }

    .hero{
    flex-direction: column;
    text-align: center;
    padding: 30px 20px;
}
.image{
    width:100%;
    display:flex;
    justify-content:center;
}

.image img{
    width:80%;
    max-width:300px;
}
}
